<!-- Hero--><!-- Hero-->
            <section class="module-cover-slides fullscreen">
                <ul class="slides-container">
                    <li class="parallax text-center" data-overlay="0.3"><%= image_tag 'shop/chat-3.jpg' %>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>I need you!</strong></h1>
                                    <p class="m-b-40">loocking for a equality?  <br> try to save a cat, become a better person.</p>
                                    <%= link_to "Let's save life", items_path, :class => "btn btn-lg btn-circle btn-warning" %>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="parallax" data-overlay="0.5"><%= image_tag 'shop/chat-5.jpg' %>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Just feed me <br> fucking human slave.</strong></h1>
                                    <p class="m-b-40">We save cats,  <br>they need the finnest attention.</p>
                                    <%= link_to "Let's save life", items_path, :class => "btn btn-lg btn-circle btn-brand" %>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="parallax text-center" data-overlay="0.1" data-gradient="1"><%= image_tag 'shop/chat-2.jpg' %>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Beauty<br> is sometime inside.</strong></h1>
                                    <p class="m-b-40">Yeah i'm trash <br>But i still need you to save me.</p>
                                    <%= link_to "Let's save life", items_path, :class => "btn btn-lg btn-circle btn-new-white" %>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="slides-navigation"><a class="prev" href="#"><span class="ti-angle-left"></span></a><a class="next" href="#"><span class="ti-angle-right"></span></a></div>
            </section>
            <!-- Hero end-->
