<!-- Team-->
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-9 m-auto text-center">
                <h1>Creative People.</h1>
                <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="space" data-MY="60px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-image"><%= image_tag "tom.jpg" %>
                        <div class="team-wrap">
                            <div class="team-content">
                                <h6 class="team-name">Tom Ballu</h6>
                                <div class="team-role">UX-master</div>
                            </div>
                            <div class="team-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-image"><%= image_tag "nico.jpg" %>
                        <div class="team-wrap">
                            <div class="team-content">
                                <h6 class="team-name">Nicolas Bertin</h6>
                                <div class="team-role">Brain</div>
                            </div>
                            <div class="team-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-image"><%= image_tag "mathilde.jpg" %>
                        <div class="team-wrap">
                            <div class="team-content">
                                <h6 class="team-name">Mathilde Ray</h6>
                                <div class="team-role">none</div>
                            </div>
                            <div class="team-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-image"><%= image_tag "ludo.jpg" %>
                        <div class="team-wrap">
                            <div class="team-content">
                                <h6 class="team-name">Ludovic Bourgoin</h6>
                                <div class="team-role">cock sucker</div>
                            </div>
                            <div class="team-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-image"><%= image_tag "thp.jpg" %>
                        <div class="team-wrap">
                            <div class="team-content">
                                <h6 class="team-name">lulu</h6>
                                <div class="team-role">the secret mentor</div>
                            </div>
                            <div class="team-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-image" ><%= image_tag "hugo.jpg" %>
                        <div class="team-wrap">
                            <div class="team-content">
                                <h6 class="team-name">Hugo Payer</h6>
                                <div class="team-role">laugh man</div>
                            </div>
                            <div class="team-content-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="space" data-MY="30px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center"><a class="btn btn-circle btn-outline-brand" href="#">Services</a></p>
            </div>
        </div>
    </div>
</section>
<!-- Team end-->
