<!-- Header-->
<header class="header header-transparent">
  <div class="container-fluid">
    <!-- Brand-->
    <div class="inner-header"><%= link_to("KittyWorld", home_path , class: "inner-brand") %></div>
    <!-- Navigation-->
    <div class="inner-navigation collapse">
      <div class="inner-nav">
        <ul>
          <li class="menu-item-has-children menu-item-has-mega-menu"><a href="<%= home_path %>"><span class="menu-item-span">Home</span></a>

          </li>
          <li class="menu-item-has-children menu-item-has-mega-menu"><a href="<%= items_path %>"><span class="menu-item-span">Shop</span></a>
          </li>
          <li class="menu-item-has-children menu-item-has-mega-menu"><a href="<%= about_path %>"><span class="menu-item-span">About</span></a>
          </li>
          <li class="menu-item-has-children"><a href="<%= contact_path %>"><span class="menu-item-span">Contact</span></a>
            </li>
          </ul>
        </div>
    </div>
    <div class="extra-nav">
        <ul>
            <li><a class="top-bar-cart" href="<%= cart_show_path %>"><span class="menu-item-span"><i class="fas fa-shopping-cart"></i>
                <% if user_signed_in? %>
                    <span style="font-size: 10px"><%= current_cart.items.size %></span>
                <% else %>
                    <% if session[:cart_id] %>
                        <span style="font-size: 10px"><%= Cart.find(session[:cart_id]).items.size %></span>
                    <% end %>
                <% end %>
                </span></a></li>
            <li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i class="fas fa-bars"></i></span></a></li>
            <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="fas fa-bars"></i></span></a></li>
        </ul>
    </div>
  </div>
</header>
<!-- Header end-->
