<section id="cart-show" class="module">
  <div id="cart-content"class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <h1 class="text-center">Shopping Cart</h1>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12 centered">

          <form method="post">
            <div class="table-responsive">
              <table class="table cart-table">
                <thead>
                  <tr>
                    <th class="col-thumbnail">Product</th>
                    <th class="col-title">Name</th>
                    <th class="col-price">Price</th>
                    <th class="col-quantity"></th>
                    <th class="col-quantity"></th>
                    <th class="col-quantity">Quantity</th>
                  </tr>
                </thead>
                <tbody>

                <% if @cart.items.size == 0 %>
                <p>
                  There are no items in your cart, go buy some kitties
                </p>

                <% else %>
                  <% @cart.items.uniq.each do |item| %>

                  <tr>
                    <td>
                      <%= image_tag(item.image_url, class: "cart-thumbnail") %>
                    </td>
                    <td>
                      <h6 class="m-b-0">
                        <%= link_to(item.title, item_path(item.id)) %>
                      </h6>
                    </td>

                    <td>
                      <%= item.price %> €
                    </td>
                    <td class="cart-remove">
                      <h5><%= link_to '+', add_item_path(id: item.id), :method => :post %></h5>
                    </td>
                    <td class="cart-remove">
                      <h5><%= link_to '-', remove_item_path(id: item.id), :method => :post %></h5>
                    </td>
                    <td>
                      <%= @cart.items.select{ |i| i.id == item.id }.size %> items
                    </td>

                  </tr>

                  <% end %>
                <% end %>



                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
      <div class="row m-t-70">
        <div class="col-md-12">
          <table class="table cart-table">
            <tbody>
              <tr>
                <td>Total</td>
                <td class="text-right"><%= @total_price %> €</td>
              </tr>
            </tbody>
          </table>
          <div class="text-right">
<!--           	<%= button_to "Proceed to checkout", order_path, method: :get, class: 'btn btn-block-mobile btn-black' %>
 -->            <%= form_tag charges_path do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Yay you just feed a cat !"
                      data-amount="<%= @pay %>"
                      data-locale="auto"
                      data-currency="eur"></script>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <h1>CODE NICO</h1> -->
<!--
<% if @cart.items.size == 0 %>

  <p>
    There are no items in your cart
  </p>
<% else %>
  <% @cart.items.each do |item| %>
    <p>Name:<%= item.title %>,
      <br>
      Price:<%= item.price %>,</p>
  <% end %>

  <% @cart.items.uniq.each do |item| %>
    <p>Name:<%= item.title %>, <br> Price:<%= item.price %>,</p><br>
    <h2><%= link_to "+", add_item_path(id: item.id), :method=> :post %></h2>
    <h2><%= link_to "-", remove_item_path(id: item.id), :method=> :post %></h2>

  <% end %>
  <h3>Total:<%= @total_price %></h3>
<% end %>

<%# button_to "commander", new_charge_path, method: :get, params: { total: @total_price } %>
<%= button_to "commander1", order_path, method: :get %>


<%= link_to "Return to shop", items_path %>
<%= link_to "signout", destroy_user_session_path, method: :delete %>

<%= link_to "add item 1", add_item_path(id: 1), :method=> :post %>
<%= link_to "add item 2", add_item_path(id: 2), :method=> :post %>
 -->
