<section id="order-show" class="module">
  <div id="order-content" class="container">
  <div class="container">
        <h1 class="text-center">Your orders</h1>
  </div>
  <br>
    <div class="container">
    <div class="row">
      <div class="col-md-12 centered">

        <form method="post">
          <div class="table-responsive">
            <table class="table cart-table">
              <thead>
                <tr>
                  <th class="col-thumbnail">Product</th>
                  <th class="col-title"></th>
                  <th class="col-price">Price</th>
                  <th class="col-quantity">Quantity</th>
                  <th class="col-subtotal">Total</th>
                  <th class="col-remove"></th>
                </tr>
              </thead>
              <tbody>

              <% if @orders.size == 0 %>
              <p>
                There are no orders
              </p>

              <% else %>

              <% @orders.each do |order| %>
                <% order.items.uniq.each do |item| %>
                <tr>
                  <td>
                    <%= image_tag(item.image_url, class: "cart-thumbnail") %>
                  </td>
                  <td>
                    <h6 class="m-b-0">
                      <%= item.title %>
                    </h6>
                  </td>
                  <td><%= item.price %> €</td>
                  <td>
                    <p><%= order.items.select{ |i| i.id == item.id }.size %></p>
                  </td>
                  <!-- AJAX I guess so price = item price * nb of items -->

                  <td><%= item.price %> €
                  </td>
                </tr>
                <% end %>
                 <tr>
                  <td><h4>Total</h5></td>
                  <td class="text-right"><h5><%= order.total_price %> €</h5></td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
